.alert{
    text-align: center;
    font-family: nexaLight;
    width: 80%;
    height: 45px;
    border: solid 1px black;
    display: none;
    border-radius: 10px;
}

.alertContainer{
    width: 100%;
    display: flex;
    margin-top: 50px;
    align-content: center;
    justify-content: center;
}

.fail{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.sucess{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert p {
    font-weight: bold;

}