@font-face {
  font-family: nexaBold;
  src: url(./font/OnlineWebFonts_COM_204e7bdcf56e41998f19249085df2cfb/NexaBold/NexaBold.ttf);
}
@font-face {
  font-family: nexaLight;
  src: url(./font/nexa-light-maisfontes/nexa-light.otf);
}

body {
  height: 100%;
  margin-bottom: 30px;
}

nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  font-family: nexaBold;
  margin-bottom: 20px;
}

.logo {
  display: flex;
}

.logo img {
  height: 45px;
  width: 65px;
  margin-left: 25px;
  margin-top: 10px;
}

.logo .title {
  color: #f44336;
  font-weight: bold;
  font-size: 28px;
  margin-left: 15px;
}

nav ul {
  height: 40px;
  width: 195px;
  display: flex;
  list-style-type: none;
  margin-right: 35px;
}

button {
  width: 100px;
  height: 50px;
  margin-right: 5px;
  background: none;
  border: none;
}

.nav-button h5 {
  font-size: 15px;
  font-family: nexaBold;
  margin-top: 5px;
  margin-bottom: 0;
}

.nav-button {
  padding: 3px 0;
  color: #f44336;
  background: #ffffff;
  border: none;
  border-radius: 5px;
}

hr {
  border: solid 0.5px #ebebeb;
}

h4 {
  font-family: nexaLight;
  color: #808080;
  font-size: 25px;
  margin-bottom: 0px;
  padding: 10px;
}

main {
  margin-top: 5px;
  padding: 10px 20px;
  border-radius: 10px;
}

section {
  border-radius: 10px;
}

section ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.section-item {
  height: 200px;
  font-family: nexaBold;
  list-style-type: none;
  border-radius: 10px;
  color: #808080;
  padding: 0 20px 0 20px;
  box-shadow: 0px 0px 10px 0px #dbdbdb;
}

section ul li {
  list-style-type: none;
  text-decoration-style: none;
}

section ul li img {
  margin-top: 35px;
  height: 80px;
  width: 110px;
}

section ul li h5 {
  font-size: 20px;
  font-family: nexaLight;
  color: #a0a0a0;
}

section ul li h6 {
  font-size: 15px;
  margin: 10px 5px 10px 5px;
  font-family: nexaLight;
  color: #a0a0a0;
  text-align: center;
}
