@font-face {
  font-family: nexaBold;
  src: url(./font/OnlineWebFonts_COM_204e7bdcf56e41998f19249085df2cfb/NexaBold/NexaBold.ttf);
}
@font-face {
  font-family: nexaLight;
  src: url(./font/nexa-light-maisfontes/nexa-light.otf);
}

nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  font-family: nexaBold;
  margin-bottom: 20px;
}

.logo {
  display: flex;
}

.logo img {
  height: 45px;
  width: 65px;
  margin-left: 25px;
  margin-top: 10px;
}

.logo .title {
  color: #f44336;
  font-weight: bold;
  font-size: 28px;
  margin-left: 15px;
}

nav ul {
  height: 40px;
  width: 195px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-self: flex-end;
  margin-right: 35px;
}

button {
  width: 100px;
  height: 50px;
  margin-right: 5px;
  background: none;
  border: none;
}

.nav-button h5 {
  font-size: 15px;
  font-family: nexaBold;
  margin-top: 5px;
  margin-bottom: 0;
}

.nav-button {
  padding: 3px 0;
  color: #f44336;
  background: #ffffff;
  border: none;
  border-radius: 5px;
}

hr {
  border: solid 0.5px #ebebeb;
}

main {
  margin-top: 5px;
  padding: 10px 20px;
  border-radius: 10px;
}

main h1 {
  margin-top: 100px;
  font-family: nexaLight;
  color: #808080;
  text-align: center;
}

.content-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-main form {
  height: 250px;
  width: 400px;
  margin-left: 20px;
}

.content-main form p {
  font-family: nexaLight;
  color: #808080;
  font-size: 20px;
}

.content-main img {
  height: 250px;
  width: 310px;
  padding: 20px;
}

h4 {
  font-family: nexaLight;
  color: #808080;
  font-size: 25px;
  margin-bottom: 0px;
  padding: 10px;
}

section {
  border-radius: 10px;
}

section ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.section-pratos-semana ul {
  margin-bottom: 30px;
}

.section-item {
  height: 200px;
  font-family: nexaBold;
  list-style-type: none;
  border-radius: 10px;
  color: #808080;
  padding: 0 20px 0 20px;
  border: solid 1px #e0e0e0d0;
}

.section-item-cardapio{
  padding: 10px 40px 20px 40px;
  border: solid 1px #e0e0e0d0;
  border-radius: 10px;
}

.section-item-cardapio img {
  margin-top: 40px;
  height: 120px;
  width: 150px;
}

.section-item-cardapio h6 {
  font-size: 20px;
}

section ul li {
  list-style-type: none;
  text-decoration-style: none;
}

.section-item img {
  margin-top: 35px;
  height: 80px;
  width: 110px;
}

section ul li h5 {
  font-size: 17px;
  font-family: nexaLight;
  color: #a0a0a0;
}

section ul li h6 {
  font-size: 15px;
  margin: 10px 5px 10px 5px;
  font-family: nexaLight;
  color: #a0a0a0;
  text-align: center;
}

.restaurante {
  height: 380px;
  width: 100%;
}

.aling button{
  height: 42px;
  width: 193px;
  padding: 9px 0;
  margin-top: 15px;
  color: #ffffff;
  font-weight: bold;
  background: #f44336;
  border: none;
  border-radius: 8px;
  font-family: nexaBold;
}

.aling input{
  font-family: nexaLight;
  color: #808080;
  font-size: 20px;
  height: 30px;
  width: 180px;
  border: solid 0.5 #ebebeb;
  border-radius: 5px;
  margin: 0 3px 5px 0;
  padding: 5px;
}

@media screen and (max-width: 1158px){


}
