@font-face {
  font-family: nexaBold;
  src: url(./font/OnlineWebFonts_COM_204e7bdcf56e41998f19249085df2cfb/NexaBold/NexaBold.ttf);
}
@font-face {
  font-family: nexaLight;
  src: url(./font/nexa-light-maisfontes/nexa-light.otf);
}

nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  font-family: nexaBold;
  margin-bottom: 20px;
}

.logo {
  display: flex;
}

.logo img {
  height: 45px;
  width: 65px;
  margin-left: 25px;
  margin-top: 10px;
}

.logo .title {
  color: #f44336;
  font-weight: bold;
  font-size: 28px;
  margin-left: 15px;
}

nav ul {
  height: 40px;
  width: 195px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-self: flex-end;
  margin-right: 35px;
}

button {
  width: 100px;
  height: 50px;
  margin-right: 5px;
  background: none;
  border: none;
}

.nav-button h5 {
  font-size: 15px;
  font-family: nexaBold;
  margin-top: 5px;
  margin-bottom: 0;
}

.nav-button {
  padding: 3px 0;
  color: #f44336;
  background: #ffffff;
  border: none;
  border-radius: 5px;
}

hr {
  border: solid 0.5px #ebebeb;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-info {
  height: 230px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.form-info form {
  height: 230px;
}

.form-info img {
  height: 230px;
  width: 300px;
  box-shadow: 0px 0px 10px 0px #dbdbdb;
}

.aling {
  margin-left: 40px;
}

.aling input {
  display: block;
  width: 250px;
  height: 30px;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 6px;
  border: solid 1px #eeeeee;
  font-family: nexaLight;
}

.form-info form button {
  height: 40px;
  width: 270px;
  padding: 9px 0;
  margin-top: 15px;
  color: #ffffff;
  font-weight: bold;
  background: #f44336;
  border: none;
  border-radius: 10px;
  font-family: nexaBold;
}

