@font-face {
    font-family: nexaBold;
    src: url(./font/OnlineWebFonts_COM_204e7bdcf56e41998f19249085df2cfb/NexaBold/NexaBold.ttf);
    }
@font-face {
    font-family: nexaLight;
    src: url(./font/nexa-light-maisfontes/nexa-light.otf);
    }

@keyframes move {
    from {
        left: 30%;
    }
    to {
        left: 58%;
    }
}
      
.animacao_delivery img{
    animation: 0.4s move;
}

.animacao_delivery img{
    height: 80px;
    width: 80px;
    position: absolute;
    left: 58%;
}
      
@keyframes cor{
    from {
        color: #F44336;
    }
    to {
        color: white;
    }
}

.animacao_delivery h2{
    animation: 1s cor;
}

body{
    background-color: #F44336;
    position: relative;
}

.content{
    margin-top: 100px;
    height: 350px;
    display: block;
}

.animacao_delivery{
    display: flex;
    justify-content: center;
}

h1,h2{
    color: white;
    font-family: nexaLight;
    text-align: unset;
    margin-bottom: 0;
}

h1{
    text-align: center;
}

h2{
    margin-right: 10px;
}

.logo{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.logo h1{
    text-align: center;
    font-family: nexaBold;
    font-size: 60px;
}
.logo img{
    height: 100px;
    width: 120px;
    margin-right: 5px;
}

.flex{
    width: 100%;
    display: flex;
    justify-content: center;
}

button{
    height: 20px;
    width: 150px;
    border:solid 1px #F44336;
    background-color: #F44336;
    color:#F44336;
    margin-right: 10px;
    border-radius: 10px;
}

button:hover{
    background-color: white;
    color:#F44336; 
}